<div class="bg-white px-2 md:px-0 border-b-2 mb:12 md:mb-20 border-seafoamgreen">
  <div>
    <div class="flex justify-between items-center py-4 md:py-8">
      <div class="flex items-center">
        <h1 class="text-2xl font-semibold text-gray-900">Utility Bill Tracker</h1>
      </div>
      <div class="hidden md:flex items-center space-x-6">
        <%= link_to "Products", products_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
        <%= link_to "Features", features_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
        <%= link_to "About", about_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
        <%= link_to "Contact", contact_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
        <%= link_to new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900" do %>
          Log in
        <% end %>
      </div>
      <div class="flex md:hidden" data-controller="dropdown">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-seafoamgreen"
          data-dropdown-target="button"
          data-action="click->dropdown#toggle keydown.esc->dropdown#toggle click@window->dropdown#hide"
        >
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
          <div role="menu"
            class="absolute right-0 origin-top-right w-48 shadow-xl rounded z-1 hidden"
            data-dropdown-target="menu"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95"
            aria-orientation="vertical" aria-labelledby="dropdown_example">
          <div class="bg-white rounded-md">
            <div class="p-1 flex flex-col space-y-1">
              <%= link_to "Products", "#", class: "text-sm leading-6 text-gray-900" %>
              <%= link_to "Features", "#", class: "text-sm leading-6 text-gray-900" %>
              <%= link_to "About", about_path, class: "text-sm leading-6 text-gray-900" %>
              <%= link_to "Contact", contact_path, class: "text-sm leading-6 text-gray-900" %>
              <%= link_to new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900 mt-2 border border-t-seafoamgreen" do %>
                Log in
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-2 md:mx-32 flex flex-col sm:space-y-8 xl:space-y-20">
  <div class="flex justify-between">
    <div class="px-4 pb-24 pt-10 sm:pb-32 lg:px-0 lg:pb-32 lg:pt-46">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:px-0">
        <div class="hidden sm:mt-32 sm:flex lg:mt-16">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Learn how you can reduce your electic bill. <a href="#" class="whitespace-nowrap font-semibold text-seafoamgreen"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <h1 class="mt-24 text-4xl font-bold text-seafoamgreen text-shadow tracking-tight text-gray-900 sm:mt-10 sm:text-6xl">Monitor your utility bill</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 break-words">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        <div class="mt-10 flex items-center gap-x-6">
          <%= link_to "Sign up", new_user_registration_path, class: "rounded-xl bg-seafoamgreen px-12 py-2.5 text-sm font-semibold text-white shadowhover:bg-limegreen focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" %>
        </div>
      </div>
    </div>
    <div class="hidden xl:contents">
      <div class="py:20 my-auto object-cover">
        <%= image_tag("lightbulb_hero.jpg", size: "304x456", class: "rounded-xl") %>
      </div>
    </div>
  </div>

  <div class="md:mx-0 grid grid-cols-1 md:grid-cols-3 bg-white gap-x-8 md:pb-12">
    <div class="flex flex-col border-t-2 border-seafoamgreen rounded-sm shadow p-8 items-center space-y-8">
      <div class="rounded-full bg-seafoamgreen p-8">
        <%= image_tag("plug_white_64px.png", size: "48") %>
      </div>
      <div class="text-center">
        <p class="text-xl font-semibold mb-2 text-gray-800">Connected Utility Accounts</p>
        <p class="text-sm text-gray-500">Bring all of your utility accounts to one location - electric, water, gas</p>
      </div>
    </div>
    <div class="flex flex-col border-t-2 border-seafoamgreen rounded-sm shadow p-8 items-center space-y-8">
      <div class="rounded-full bg-seafoamgreen p-8">
        <%= image_tag("invoice_white_64px.png", size: "48") %>
      </div>
      <div class="text-center">
        <p class="text-xl font-semibold mb-2 text-gray-800">Centralized Bill Management</p>
        <p class="text-sm text-gray-500">Review past and present bills, and forecast future charges</p>
      </div>
    </div>
    <div class="flex flex-col border-t-2 border-seafoamgreen rounded-sm shadow p-8 items-center space-y-8">
      <div class="rounded-full bg-seafoamgreen p-8">
        <%= image_tag("electric_meter_white_64px.png", size: "48") %>
      </div>
      <div class="text-center">
        <p class="text-xl font-semibold mb-2 text-gray-800">Real-Time Meter Monitoring</p>
        <p class="text-sm text-gray-500">Monitor your hourly energy consumption and ensure</p>
      </div>
    </div>
  </div>
</div>