<header class="shrink-0 border-b border-gray-200 bg-white">
  <div class="mx-auto flex h-16 items-center justify-between px-4 sm:px-6 lg:px-2">
    <%= link_to root_path do %>
		<h1 class="text-2xl font-semibold text-gray-900">Utility Bill Tracker</h1>
    <% end %>
    <div class="flex items-center gap-x-8">
      <button type="button" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-300">
        <span class="sr-only">View notifications</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
      </button>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
  </div>
</header>

<div class="bg-white rounded-lg p-2">
  <div class="flex flex-col w-full">
    <div class="flex lg:space-x-2">
      <div data-controller="statement-date">
        <%= form_with(url: "/", method: :get) do |f| %>
            <%= f.select :bill_date,
                bills.sort_by(&:statement_at).reverse.map { |bill| [bill.statement_at.to_date, bill.statement_at] },
                {},
                data: { action: "change->statement-date#change"},
                class: "border border-gray-300 rounded-md p-4"
            %>
        <% end %>
      </div>
      <div class="py-1.5 px-3 text-white bg-seafoamgreen border rounded-lg my-auto">
            <%= link_to "Add another meter", new_request_form_path %>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag "dashboard" do %>
  <div>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 lg:px-2">
      <div class="group relative rounded-lg border">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-white lg:aspect-none group-hover:opacity-75 lg:h-80">
          <div class="p-2 flex h-full flex-col justify-between">
          <p class="text-gray-400">Statement Details</p>
            <div>
              <p><%= current_user.email %></p>
              <p>Account: 123456890</p>
            </div>
            <div>
              <p>123 Main St <span class="block">Apt 3004</span> Anywhere, CA 12234</p>
            </div>
            <p class="text-center"><%= bill_date_range(bill) %></p>
          </div>
        </div>
      </div>
      <div class="group relative border rounded-lg">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-white  group-hover:opacity-75 lg:h-80">
          <div class="p-2 flex h-full flex-col justify-between">
          <p class="text-gray-400">Bill Details</p>
            <div class="flex justify-center">
              <span>$</span><p class="text-6xl"> <%= bills.first.total_cost %></p>
              <p class="text-xl <%= change_color_class(bill.change_in_total_cost) %>"><%= bill.change_in_total_cost %>% </p>
            </div>
            <p class="text-center"><%= bill_date_range(bill) %></p>
          </div>
        </div>
      </div>
      <div class="group relative border rounded-lg">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-white  group-hover:opacity-75 lg:h-80">
          <div class="p-2 flex h-full flex-col justify-between">
          <p class="text-gray-400">Total KWH Usage</p>
            <div class="flex justify-center">
              <p class="text-6xl"><%= bills.first.total_kwh %></p>
              <p class="text-xl <%= change_color_class(bill.change_in_total_kwh) %>"><%= bill.change_in_total_kwh %>%</p>
            </div>
            <p class="text-center"><%= bill_date_range(bill) %></p>
          </div>
        </div>
      </div>
      <div class="group relative border rounded-lg">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-white  group-hover:opacity-75 lg:h-80">
          <div class="p-2 flex h-full flex-col justify-between relative">
            <p class="text-gray-400 absolute">Past 6 Months</p>
            <div class="flex justify-center pb-2">
              <%= 
                column_chart bills.prior_6_months_statements(bill.statement_at).bills_by_month_year,
                prefix: "$",
                thousands: ",",
                zeros: true,
                round: 2,
                dataset: {
                  borderRadius: 5,
                },
                colors: ["#B1D8B7", "#B1D8B7", "#B1D8B7", "#B1D8B7", "#B1D8B7" ,"#2F5233"],
                library: {
                  scales: {
                    y: {
                      ticks: {
                        display: false
                      },
                      grid: {
                        display: false,
                      },
                      border: {
                        display: false,
                      },
                    },
                    x: {
                      grid: {
                        display: false,
                      },
                      border: {
                        display: false,
                      },
                    },
                  },
                }
              %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-4 px-2 pb-2">
      <div class="flex flex-col space-y-6 border border-gray-200 p-2 bg-white rounded-lg">
        <div class="flex">
          <p class="bg-green-200 rounded-full p-2">
            <%= image_tag("lightning32px.png") %>
          </p>
        </div>
        <div class="flex flex-col">
          <p class="text-lg font-semibold">
            <%= bills.first.total_kwh %> KWH
          </p>
          <p class="text-sm font-extralight">
            Peak Consumption Per Day - <%= readings_date_range(readings.first, readings.last)%>
          </p>
        </div>
        <div>
            <%= line_chart readings&.total_peak_kwh_chart_data.map { |type|
                {
                  name: type[:name],
                  data: type[:data], 
                  dataset:
                    { 
                      yAxisID: type[:yAxisID]
                    }
                }
              },
              colors: ["#2F5233", "#B1D8B7"],
              round: 2,
              zeros: true,
              library: { 
                scales: {
                  y: { 
                    ticks: { 
                      display: false
                    },
                    grid: {
                        display: false
                    },
                    position: "left",
                    border: {
                      display: false
                    }
                  },
                  y1: {
                    max: 5,
                    ticks: {
                      display: false
                    },
                    grid: {
                      display: false
                    },
                    position: "right",
                    border: {
                      display: false
                    }
                  },
                  x: {
                    ticks: {
                      display: false
                    },
                    grid: {
                      display: false
                    },
                    border: {
                      display: false
                    }
                  }
                }
              }
            %>
        </div>
      </div>
    </div>
  </div>
<% end %>

